:root {
    /* Font Family */
    --font-body: 'Kumbh Sans', sans-serif;
    /* --font-display:  */

    /* Font Size */
    --base: 16px; /*paragraph*/

    /* Font Weight */

    /* Line Height */

    /* Letter Spacing */

    /* Widths */

    /* Space */
    --space-px: 1px;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;

    /* Colors */
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-vark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: (with 75% opacity for lightbox background): hsl(0, 0%, 0%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-body);
}

.primary-header {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 50px; */
    align-items: center;
    border-bottom: 5px solid red;
    max-width: 1200px;
    margin: 0 auto;
    /* /* padding: 0 100px 0; */
} 

nav {
    background: red;
    padding: 0 15px;
}

a {
    color: purple;
    text-decoration: none;
}

.primary-navigation {
    display: flex;
    list-style: none;
    text-decoration: none;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center; */
 } 

.logo {
    padding: 10px;
    display: block;
    background-color: green;
}

.mobile-nav-toggle {
    display: none;
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
    border: 0; 
}   

.menu-item {
    padding: 10px;
    display: block;
    font-family: var(--font-body);
    font-size: var(--base);
}

.mobile-nav-toggle {
    padding: 5px 4px 5px 0;
}

.checkout {
    margin-left: auto;
}

.avatar {
    height: auto;
    width: 35px;
    vertical-align: middle;
}

.cart {
    vertical-align: middle;
}

@media (max-width: 40em) {
    .primary-header {
            padding: 0 1rem;
    }

    .primary-navigation {
        /* --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out; */
        --underline-gap: .5rem;
    position: fixed;
    /* z-index: 1000; */
    inset: 0 30% 0 0;
    list-style: none;
    padding: min(20rem, 10vh) 1rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
    background: white;
    backdrop-filter: blur(1.5rem);
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .primary-navigation.underline-indicators > .active {
        border: 0;
     }

    .mobile-nav-toggle {
    display: block;
    /* position: absolute; */
    /* z-index: 2; */
    background: transparent;
    background-image: url("../images/icon-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
    /* padding: 2rem; */
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../images/icon-close.svg");
        padding: 1rem;
        position: absolute;
        z-index: 2;
    }

    .mobile-nav-toggle:focus-visible {
        /* outline: 5px solid olive;
        outline-offset: 5px; */
        outline: transparent;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    } 

}

/* lightbox */
.card-wrapper {
    max-width: 1250px;
    margin: 0 auto;
}

.shoe-image {
    width: 100%;
    display: block;
} 

.img-display {
    overflow: hidden;
}

.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
/* .img-item:hover{
    opacity: 0.8;
} */
